.container {
    width: 1200px;
}
.breadContainer {
    height: 50px;
    background-color: #fff;
    border: 1px solid #efeded;
    margin-top: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}
.bread {
    line-height: 48px;
    margin-left: 20px;
    color: #333;
    display: flex;
}
.breadItem {
    cursor: pointer;
    color: #b3b3b3;
    font-size: 14px;
}
.breadItem:hover {
    color: #00a6f3;
}
.division {
    margin: 0 10px;
    color: #b3b3b3;    
}
.queryContainer {
    height: 200px;
    width: 1010px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #efeded;
    border-radius: 3px;
    box-sizing: border-box;
}
.content {
    height: 50px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
}
.title {
    width: 120px;
    line-height: 50px;
    text-align: center;
    background-color: #f9f6f6;
    color: #333;
    font-weight: 700;
    margin-right: 30px;
}
.query {
    /* width: 1080px; */
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
.item {
    line-height: 50px;
    width: 120px;
    /* text-align: center; */
    color: #666;
    cursor: pointer;
    /* background-color: #ccc; */
}
.item:hover {
    color: #00a6f3;
}
.stage {
    display: flex;
    justify-content: space-between;
}
.new {
    height: 200px;
    width: 180px;
    background-color: #fff;
    border: 1px solid #efeded;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 10px;
}