.container {
    margin-top: 80px;
    border-top: 1px solid transparent;
}
.tableContainer {
    width: 1200px;
    margin: 10px auto 0;
    height: 800px;
    background-color: #00a6f3;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 800px;
}
