.container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #fff;
}
.tip {
    display: flex;
    align-items: center;
    margin: 5px;
}
.line {
    height: 1px;
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
}